.block-presentation {
    background: #bcb9b9;
    padding: 50px 0;
}

.block-presentation .container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.block-presentation .container img {
    max-width: 100%;
}

@media screen and (max-width: 1080px) {
    .block-presentation .container {
        flex-direction: column;
        gap: 10px;
    }

    .block-presentation .container .text {
        order: -1;
    }

}