header.main-header {
    padding-top: 25px;
    padding-bottom: 100px;
    border-bottom: 1px solid #000;
}

header.main-header .main-navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 50px;
}

header.main-header nav ul {
    display: flex;
    gap: 20px;
}

header.main-header nav ul li a {
    font-weight: var(--font-weight-bold);
    font-size: 25px;
    color: var(--color-primary);
    text-decoration: underline;
}

header.main-header .search {
    margin-left: auto;
}