header {
    background: var(--color-primary);
    color: var(--color-background);
    padding: 10px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav li a {
    font-size: 20px;
    color: var(--color-background);
}