* {
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    color: var(--color-primary);
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 780px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}