.title-1 {
    font-family: "Inter";
    font-size: 60px;
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: 50px;
}

.title-2 {
    font-family: "Inter";
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 40px;
}

.title-3 {
    font-family: "Inter";
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
}

@media screen and (max-width: 780px) {
    .title-1 {
        font-size: 50px;
    }

    .title-2 {
        font-size: 35px;
    }

    .title-3 {
        font-size: 30px;
    }

}