:root {
    --color-background: #FFFFFF;
    --color-primary: #051B3B;
    --color-secondary: #000000;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #051B3B;
        --color-primary: #FFFFFF;
        --color-secondary: #d4d4d4;
    }
}